:root {
  --black-color: #000;
  --white-color: #fff;
  --color-txt: #6b7280;
  --color-title: #111928;
  --bg-btn: #7e3af2;
  --bg-main: #f9fafb;
  --border: #e5e7eb;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header-start*/

.header {
  min-height: 100vh;
  padding-top: 30px;
}

.nav {
  display: flex;
  align-items: center;
  margin-bottom: 136px;
}

.header-flex {
  display: flex;
  /* align-items: center; */
}

.logo-link {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-title);
}

.header-logo-item {
  margin-right: 12px;
}

.header-logo-item:last-child {
  margin-right: 0px;
}

.header-logo-list {
  margin-right: 32px;
}

.menu-item {
  margin-right: 32px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item-link {
  font-size: 16px;
  color: var(--color-title);
}

.header-btn {
  margin-left: auto;
}

.btn-item-header {
  margin-right: 16px;
}

.btn-item-header:last-child {
  margin-right: 0;
}

.btn-item-link {
  font-size: 14px;
  color: var(--color-title);
}

.btn-active {
  font-size: 14px;
  color: var(--white-color);
  padding: 9px 12px;
  border-radius: 7px;
  background: var(--bg-btn);
}

.content-item {
  margin-bottom: 40px;
}

.content-item:last-child {
  margin-bottom: 0;
}

.content-item h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: var(--color-title);
  padding-bottom: 24px;
}

.content-item p {
  width: 736px;
  font-weight: 400;
  font-size: 20px;
  color: var(--color-txt);
}

.content-btn-one {
  display: inline-block;
  font-size: 16px;
  color: var(--white-color);
  background: var(--bg-btn);
  padding: 12px 20px;
  border-radius: 7px;
  margin-right: 16px;
}

.content-btn-two {
  font-size: 16px;
  color: var(--color-title);
  border: 1px solid #e5e7eb;
  padding: 13px 21px;
  border-radius: 7px;
}

.flex-content {
  display: flex;
  align-items: center;
}

.img-flex img {
  display: block;
}

.img-flex {
  display: flex;
  justify-content: center;
}

.header-section {
  margin-bottom: 114px;
}

.partnert {
  padding-bottom: 100px;
}

.partner-list {
  display: flex;
  align-items: center;
}
.partner-item img {
  display: block;
}

.partner-item {
  margin-right: 93px;
}

.partner-item:last-child {
  margin-right: 0;
}

.section-main {
  background-color: var(--bg-main);
}

.main-list-item {
  display: flex;
  align-items: center;
}

.main-list-desc {
  max-width: 608px;
  margin-right: 64px;
}

.main-list-desc h2 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-title);
  margin-bottom: 16px;
}

.main-list-desc p {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-txt);
  padding-bottom: 32px;
}

.main-list-item img {
  margin-right: 8px;
}

.main-list-item {
  margin-bottom: 16px;
}

.main-list-item:last-child {
  margin-bottom: 0;
}

.main-list {
  padding-top: 32px;
  padding-bottom: 24px;
  border-top: 1px solid var(--border);
}

.section-main-one {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-main-one h3 {
  font-weight: 400;
  width: 608px;
  font-size: 20px;
  color: var(--color-txt);
}

.section-main-two {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 123px;
}

.main-list-desc-two {
  max-width: 608px;
  margin-left: 64px;
}

.main-list-desc-two p {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-txt);
  padding-bottom: 32px;
}

.section-three-left {
  padding-top: 96px;
}

.section-three-left-item p:first-child {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-btn);
  margin-bottom: 12px;
}

.section-three-left-item h3 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--color-title);
  margin-bottom: 16px;
}

.section-three-left-item p:last-child {
  max-width: 640px;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-txt);
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;
}

.left-list-link-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: var(--bg-btn);
}

.section-three-left-list {
  margin-bottom: 24px;
}

.section-three-left-list-link {
  /* display: flex; */
}

.left-list-link-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.left-list-link-item:last-child {
  margin-bottom: 0;
}

.left-list-link-item a:first-child {
  margin-right: 8px;
}

.left-list-link-item a:last-child {
  margin-right: 0;
}

/* .info-three-list-item {
  max-width: 256px;
} */

.info-three-list-item img {
  padding-bottom: 16px;
}

.info-three-list-item h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--color-title);
  padding-bottom: 8px;
}

.info-three-list-item p {
  width: 256px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-txt);
}

.main-three-flex {
  display: flex;
}

.sub-right-section {
  width: 544px;
  padding-top: 70px;
  margin-left: 64px;
  padding-bottom: 70px;
}

.info-three-list {
  display: flex;
  margin: -16px;
  flex-wrap: wrap;
}

.info-three-list-item {
  margin: 16px;
}

.info-three-list-item:last-child {
  margin-right: 0;
}

.info-three-list-item:nth-child(-n + 2) {
  padding-bottom: 32px;
}

.testemonials-item img {
  display: inline-block;
  height: 100%;
}

.testemonials {
  text-align: center;
  align-items: center;
  background-color: var(--bg-main);
}

.testemonials-list {
  padding-top: 96px;
  padding-bottom: 96px;
}

.testemonials-item:last-child {
  /* display: flex;
  align-items: center; */
  justify-content: center;
}

.testemonials-item h4 {
  margin: 0 auto;
  max-width: 768px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.62;
  color: var(--color-title);
  margin-bottom: 24px;
}

.testemonials-item img:first-child {
  margin-bottom: 10px;
}

.footer-nav-item h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-title);
}

.footer-nav-item a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-txt);
}

.footer-nav {
  display: flex;
  padding-top: 64px;
  padding-bottom: 64px;
}

.footer-nav-list {
  margin: 0 auto;
  padding-right: 100px;
}

.footer-nav-list:last-child {
  margin-right: 0;
}

.footer-bottom-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-txt);
  text-align: center;
  margin-bottom: 20px;
}

.footer-boottom-item {
  margin-right: 12px;
}

.footer-boottom-item:last-child {
  margin-right: 0;
}

.footer-bottom-item:nth-child(-n + 2) {
  display: flex;
}

.footer-bottom-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
}

.footer-soc-item {
  margin-right: 20px;
}

.footer-soc-item:last-child {
  margin-right: 0;
}
